*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
  box-sizing: border-box;
  overflow: hidden;

}
body{
      width: 100%;
      min-height: 100vh;
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 20px;  
     overflow: hidden; 
     background-color:transparent;
     background-image: url(/src/image/WhatsApp\ Image\ 2025-02-28\ at\ 3.23.00\ AM\ \(1\).jpeg); 
     background-size: 100% 100%;
     display: grid;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
